<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ceti.edu.paii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PaiiApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_setings"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.match"></activity>
        <activity
            android:name=".view.ChatActivity2"
            android:parentActivityName=".view.ChatActivity"></activity>
        <activity
            android:name=".view.ChatActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity android:name=".view.ProfileActivity">
            <intent-filter>
                <action android:name="activityProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activities_Activity"
            android:parentActivityName=".view.PictureDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.PictureDetailActivity" />
        </activity>
        <activity android:name=".activities.listening.speaking.Speaking_3_Activity" />
        <activity android:name=".activities.listening.speaking.Speaking_2_Activity" />
        <activity android:name=".activities.listening.speaking.Speaking_1_Activity" />
        <activity android:name=".activities.listening.grammar.Grammar_4_Activity" />
        <activity android:name=".activities.listening.grammar.Grammar_3_Activity" />
        <activity android:name=".activities.listening.grammar.Grammar_2_Activity" />
        <activity android:name=".activities.listening.grammar.Grammar_1_Activity" />
        <activity android:name=".activities.listening.vocabulary.Vocabulary_4_Activity" />
        <activity android:name=".activities.listening.vocabulary.Vocabulary_3_Activity" />
        <activity android:name=".activities.listening.vocabulary.Vocabulary_2_Activity" />
        <activity android:name=".activities.listening.vocabulary.Vocabulary_1_Activity" />
        <activity android:name=".activities.listening.writing.Writing_2_Activity" />
        <activity android:name=".activities.listening.writing.Writing_4_Activity" />
        <activity android:name=".activities.listening.writing.Writing_3_Activity" />
        <activity android:name=".activities.listening.reading.Reading_4_Activity" />
        <activity
            android:name=".activities.listening.reading.Reading_3_Activity"
            android:label="@string/title_activity_reading_3_"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".activities.listening.reading.Reading_2_Activity" />
        <activity android:name=".activities.listening.reading.Reading_paragraph_2_Activity" />
        <activity android:name=".activities.listening.reading.Reading_Paragraph_Activity" />
        <activity android:name=".activities.listening.reading.Reading_1_Activity" />
        <activity android:name=".activities.listening.writing.Writing_1_Activity" />
        <activity android:name=".activities.listening.Listening_4_Activity" />
        <activity android:name=".activities.listening.Listening_3_Activity" />
        <activity android:name=".activities.listening.Listening_2_Activity" />
        <activity android:name=".activities.listening.Listening_1_Activity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".view.StatusActivity"
            android:parentActivityName=".view.ContainerActivity" />
        <activity android:name=".view.ResetPassword" />
        <activity
            android:name=".view.Settings"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity> <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/> <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" /> <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" /> <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" /> <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity> -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PictureDetailActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity
            android:name=".view.ContainerActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".view.CreateAccountActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="activityContainer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MiFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".notification.AlarmReceiver" />
    </application>

</manifest>